<div class="page-container">
    <h2>About Me</h2>
    <div class="my-image-section">
        <img class="my-image" src="assets\Images\Me.png" />
    </div>
    <div class="me-introduction-section">
        <p>Hi guys.I am Tran Hoang Long , owner of the Tech Chain. I am a full-stack developer with 2 years experience in web development industry.
            <br>I am most efficient working on Angular and ASP.Net core. I also have a strong passion in sharing
            knowledge about technology to others especially my newly interest - Blockchain Technology. Hence , i created
            the website.
        </p>
    </div>
</div>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div>