<div class="page-container">
    <h2>About Me</h2>
    <div class="my-image-section">
        <img class="my-image" src="assets\Images\Me.png" />
    </div>
    <div class="me-introduction-section">
        <p>Hi guys.I am Tran Hoang Long , owner of the <a href="http://techchainpro.com/">techchainpro.com</a>. I am a
            full-stack developer with 2 years experience
            in web development industry. I specialize in Microsoft Stack (.NET core, Mssql) and Angular but constantly
            keep an
            eye on new technologies. I
            also have a strong passion in sharing knowledge about technology to others especially my newly interest -
            Blockchain, hence I created
            the website.
        </p>
        If you are interested in my work, please contact me via
        <a href="https://www.linkedin.com/in/tran-hoang-long-28629b134/" target="_blank">Linkedin</a> or <a
            href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=tranhoanglong51198@gmail.com"
            target="_blank">Gmail</a>
    </div>
    <h2 class="about-article">About Techchain Pro</h2>

    <p> Initially created as a personal blog for me to share what I know with others, <a
            href="http://techchainpro.com/">techchainpro.com</a> soon grew into an idea of creating a community where
        people can share their interest in technology and learn from other enthusiasms. The website is currently under
        development, many features are not yet available but I hope you will not bother with it. 
    </p>
    <p>
        In the mean time , the website is dedicated for desktop users only, but I am having a plan to supoort mobile and other functionalities, please stay tuned
        for more!
    </p>
    The website is open-source and can be found in <a
        href="https://github.com/ChenLongMaster/TechChainPro/tree/developer" target="_blank">here</a>.
</div>