.page-container{

}
.my-image {
    width: 250px;
    height: 250px;
}
.my-image-section {
    margin-right: 30px;
    float: left;
}

.me-introduction-section{
    padding: 20px;
}

.about-container {
}
