.introduct-section {
    padding: 3px 5px 15px 0px;
}
.filter-section {
    padding-bottom: 10px;
    display: inline-block;
    width: 100%;
}

.category-dropdown {
    float: left;
}

.new-button {
    float: right;
}
.article-item {
    display: flex;
}

.item-image-section {
    background-color: grey;
    width: 200px;
    height: 150px;
}
