@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.required:after {
    content: "*";
    color: red;
}

label {
    text-align: center;
    font-size: 14px;
}

.btn-primary {
    background-color: #007ad9 !important;
    border-color: #007ad9;
}

.validation-error {
    text-align: left;
    color: #e25856;
    font-size: 11px;
}
