@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.required:after {
    content: "*";
    color: red;
}

label{
    text-align: center;
}

.btn-primary {
    background-color: #3A7CFF !important;
}
