<div class="container">
    <form [formGroup] = "loginForm" class="modal-content" (ngSubmit) = "onSubmit()">
        <div class='signin-header'>
            <h1>Sign In</h1>
            <p> Start posting article with your account
        </div>
        <div class="social-section">
            <div class="form-group input-group ">
                <a (click)="facebookSignIn()" class="btn btn-block btn-facebook">
                    <span class="fab fa-facebook-f pr-1"></span>Sign in with Facebook
                </a>
            </div>
            <div class="form-group input-group">
                <a (click)="googleSignIn()" class="btn btn-block btn-google">
                    <span class="fab fa-google-plus-g"></span>Sign in with Google
                </a>
            </div>
        </div>
        <p class="divider-text">
            <span class="bg-light">OR</span>
        </p>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <!-- 
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" [formControlName]="'username'" autocomplete ="username" required>
    
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" [formControlName]="'password'" autocomplete ="current-password" required> -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input [formControlName]="'username'" class="form-control" placeholder="Full name" type="text">
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input [formControlName]="'password'" class="form-control" placeholder="Create password" type="password">
            </div> <!-- form-group// -->
            <button type="submit">Login</button>
            <button type="button" class="cancelbtn" (click)="closePopup()">Cancel</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </form>
    </form>
</div>