.main-container {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.blog-name {
    padding-bottom: 50px;
    text-align: center;

    h1 {
        font-family: "LP Bambus W00", cursive;
        font-size: 35px;
        color: white;
        padding-bottom: 10px;
    }
    h3 {
        font-size: 14px;
        font-family: "Museo Sans W01", cursive;
        text-transform: uppercase;
        color: #9da1b3;
    }
}

.logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    width: 150px;
    height: 150px;
}

.left-nav {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #273747;
}

.left-nav a {
    :hover {
        color: cadetblue;
    }
    font-family: "Lucida Sans";
    padding: 8px 0px 5px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: whitesmoke;
    display: block;
    transition: 0.3s;
}

.left-nav a:hover {
    cursor: pointer;
    color: cadetblue !important;
}

.body-section {
    display: contents;
    padding: 0 15px 0 15px;
    background-color: rgb(252, 252, 252);
}

.content-section {
    float: left;
    padding: 20px 20px 20px 320px;
    width: 83%;
    max-width: 1400px;
}

.user-info-section {
    font-family: "Lucida Sans";
    position: absolute;
    display: flex;
    bottom: 0;
    font-size: 12px;
    padding: 10px;
    margin: 0px 0px 10px 10px;
    color: white;
    width: 93%;
    &:hover {
        color: cadetblue;
        cursor: pointer;
        box-shadow: 0 0.125rem 0.7rem rgb(27 27 27 / 100%) !important;
    }
    img {
        margin-right: 5px;
        width: 30px;
    }

    .user-name {
        max-width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 6px;
    }

    .caret-icon {
        padding: 6px;
    }
}

.info-section {
    position: fixed;
    height: 100%;
    right: 0;
    padding: 0 15px 10px 10px;
    h4 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 800;
        padding: 20px 20px 0px 15px;
    }
    h5 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 800;
        padding: 20px 20px 0px 20px;
    }
    text-align: center;
    float: left;
}
.recommed-section {
    padding: 70px 0 0 20px;
    width: 130px;
    .recommend-header {
    }
    .recommend-items {
        width: 230px;
        color: #007ad9;
        padding: 10px 5px 5px 25px;
        text-align: left;
        & span:hover {
            color: #82abec;
            text-decoration: underline;
            cursor: pointer;
        }
        a {
            padding: 0px;
        }
    }
}

.menu {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

:host ::ng-deep .p-button {
    margin: 0 0.5rem 0 0;
}

p {
    margin: 0;
}

.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
    min-width: 6rem;
}

.menu {
    padding-top: 20px;
}

.login-modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hiden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

//Connect Icons
.connect-icons {
    font-size: 30px;
    text-align: left;
    padding-left: 50px;
    a {
        color: black;
        padding: 6px;
        &.twitter-icon {
            color: #1da1f2;
            &:hover {
                color: #43aff1;
            }
        }

        &.facebook-icon {
            color: #4267b2;
            &:hover {
                color: #5b7ec7;
            }
        }
        &.linkedin-icon {
            color: #0072b1;
            &:hover {
                color: #3286b4;
            }
        }
        &.github-icon {
            color: black;
            &:hover {
                color: #4b4a4a;
            }
        }
    }
    &:hover {
        cursor: pointer !important;
    }
}

:host .fa {
    padding: 10px;
}

:host ::ng-deep .p-blockui.p-component-overlay {
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
}

:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
    animation: custom-progress-spinner-dash 1.5s ease-in-out infinite,
        custom-progress-spinner-color 6s ease-in-out infinite;
}

:host ::ng-deep .p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
    font-weight: 500;
}

:host ::ng-deep .p-tieredmenu.p-tieredmenu-overlay {
    left: 0 !important;
    width: 100%;
    border-radius: 0;
}

p-tieredMenu {
    margin-top: -100px;
    
}

:host ::ng-deep .p-tieredmenu.p-tieredmenu-overlay {
    margin-left: 2px;
}

:host ::ng-deep .p-dialog{
    margin-top: -200px;
}