<div class="page-container">
    <div class="introduct-section">
        <div class="article-header">
            <div class="header">
                <h1 class='title'>{{viewModel.name}}</h1>
            </div>
            <div class="info">
                <div class="author"><i class="fas fa-user-edit"></i>
                    {{viewModel.authorName}}
                    <span *ngIf="!viewModel.authorName || viewModel.authorName == ''" class = "annotate">
                        Anonymous
                    </span>
                </div>
                <div class="date"><i class="fas fa-calendar-alt"></i>
                    {{viewModel.createdOn | date: 'dd/MM/yyyy'}}
                </div>
            </div>
        </div>
        <hr />
        <div class="action-container">
            <div class="action-section">
                <button type="button" class="saveButton small-btn btn btn-outline-info" [title]="canEdit ? 'Edit Article' : 'You are not the owner of the article'"
                 (click) = "goToEditor()" [disabled] = "!canEdit">
                    <i class="fas fa-edit"></i>Edit
                </button>
                <button type="button" class="saveButton small-btn btn btn-outline-info" (click)="goToPreviousPage()">
                    <i class="fas fa-long-arrow-alt-left"></i>Back
                </button>
            </div>
        </div>
    </div>

    <div class="content-display" [innerHTML]="viewModel.displayContent | safeHtml">

    </div>
</div>