.introduct-section {
    padding: 3px 5px 15px 0px;
}

.info {

    font-size: 13px;
}

.date,
.author {
    display: flex;
    padding-left: 20px;
    .fas {
        margin: 4px;
    }
}

.article-header {
    display: flex;
    .header{
        float: left;
    }
    .info{
        float:right
    }
}

.action-section {
    float: right;
    display: flex;
}
.content-display {
    width: 100%;
    overflow: hidden;
}
