.introduct-section {
    padding: 3px 5px 15px 0px;
}

.info {
    font-size: 13px;
}

.date,
.author {
    display: flex;
    .fas {
        margin: 4px;
    }
}

.article-header {
    display: flex;
    .header {
        float: left;
        width: 865px;
    }
    .info {
        float: right;
    }
}
.action-container {
    padding-bottom: 50px;
}
.action-section {
    float: right;
    display: flex;
}
.content-display {
    width: 100%;
    overflow: hidden;
}

:host ::ng-deep .image_resized {
    width: 100% !important;
}
